.comments {
  overflow-y: auto;
  word-break: break-word;
  padding: 0 2rem;
}

.single.comments {
  padding: 0px;
}

.comments li {
  margin-bottom: 1rem;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0.5rem 1rem;
  border-radius: 0.2rem;
}

.comments li b {
  font-size: 1.15rem;
  display: block;
  padding: 0 0 0.5rem;
  text-transform: capitalize;
}

.cadastro {
  padding: 2rem 2rem 3rem;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cadastro p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.subtitle {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
}

.subtitle::after {
  content: '';
  display: block;
  background: #ddd;
  height: 0.5rem;
  width: 3rem;
  border-radius: 0.2rem;
}

.register {
  display: flex;
  gap: 0.5rem 1rem;
  flex-wrap: nowrap;
}

.buttonCreate {
  border: 1px solid #fb1;
  background-color: #ffffff;
}
